<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-catalogo-heading" data-cy="CatalogoCreateUpdateHeading" jhiTranslate="pruebasApp.catalogo.home.createOrEditLabel">
        Crear o editar Catalogo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.codigo"
            for="field_codigo"
            [ngbTooltip]="'pruebasApp.catalogo.help.codigo' | translate"
            >Codigo</label
          >
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          @if (editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)) {
            <div>
              @if (editForm.get('codigo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.descripcion"
            for="field_descripcion"
            [ngbTooltip]="'pruebasApp.catalogo.help.descripcion' | translate"
            >Descripcion</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.nuevocampo"
            for="field_nuevocampo"
            [ngbTooltip]="'pruebasApp.catalogo.help.nuevocampo' | translate"
            >Nuevocampo</label
          >
          <input
            type="text"
            class="form-control"
            name="nuevocampo"
            id="field_nuevocampo"
            data-cy="nuevocampo"
            formControlName="nuevocampo"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.valor"
            for="field_valor"
            [ngbTooltip]="'pruebasApp.catalogo.help.valor' | translate"
            >Valor</label
          >
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.activo"
            for="field_activo"
            [ngbTooltip]="'pruebasApp.catalogo.help.activo' | translate"
            >Activo</label
          >
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="pruebasApp.catalogo.observacion"
            for="field_observacion"
            [ngbTooltip]="'pruebasApp.catalogo.help.observacion' | translate"
            >Observacion</label
          >
          <input
            type="text"
            class="form-control"
            name="observacion"
            id="field_observacion"
            data-cy="observacion"
            formControlName="observacion"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
