<div>
  <h2 id="page-heading" data-cy="CatalogoHeading">
    <span jhiTranslate="pruebasApp.catalogo.home.title">Catalogos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pruebasApp.catalogo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-catalogo"
        [routerLink]="['/catalogo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="pruebasApp.catalogo.home.createLabel">Crear nuevo Catalogo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="pruebasApp.catalogo.home.search">Buscar Catalogo</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'pruebasApp.catalogo.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (catalogos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pruebasApp.catalogo.home.notFound">Ningún Catalogos encontrado</span>
    </div>
  }

  @if (catalogos && catalogos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigo">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.codigo">Codigo</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.descripcion">Descripcion</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="nuevocampo">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.nuevocampo">Nuevocampo</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activo">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.activo">Activo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="observacion">
              <div class="d-flex">
                <span jhiTranslate="pruebasApp.catalogo.observacion">Observacion</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (catalogo of catalogos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/catalogo', catalogo.id, 'view']">{{ catalogo.id }}</a>
              </td>
              <td>{{ catalogo.codigo }}</td>
              <td>{{ catalogo.descripcion }}</td>
              <td>{{ catalogo.nuevocampo }}</td>
              <td>{{ catalogo.valor }}</td>
              <td>{{ catalogo.activo }}</td>
              <td>{{ catalogo.observacion }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/catalogo', catalogo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/catalogo', catalogo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(catalogo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (catalogos && catalogos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
